@page
@model ServiceHost.Pages.EmptySearchItemModel
@{
}

@{
    ViewData["Title"] = "موردی پیدا نشد";
}

<div class="page-content-area">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  shop page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-5">
                                <h3 class="text text-center text-warning">محصولی با این نام یا عبارت پیدا نشد</h3>
                                <img class="img-fluid" src="~/Theme/assets/img/products/emptySearch.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>