<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lampshapde Store</title>

    <link href="~/Theme/assets/css/vendors.css" rel="stylesheet">
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">
    <link href="~/Theme/assets/css/Custom.css" rel="stylesheet">
</head>

<body>

    @await Component.InvokeAsync("Menu")

    @RenderBody()

    @await Component.InvokeAsync("Footer")



    <div class="search-overlay" id="search-overlay">
        <a href="javascript:void(0)" class="close-search-overlay" id="close-search-overlay">
            <i class="ion-ios-close-empty"></i>
        </a>

        <div class="search-form">
            <form method="get" asp-page="/Search">
                <input type="search" name="searchKey" placeholder="محصول مورد نظرت را جستجو کن ...">
                <button type="submit">
                    <i class="ion-android-search"></i>
                </button>
            </form>
        </div>

    </div>

    <div id="scroll-top">
        <span>برو بالا</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>

    <script src="~/Theme/assets/js/vendors.js"></script>
    <script src="~/Theme/assets/js/active.js"></script>

    <script>
        $(".alert-dismissible").fadeOut(8000);

        $(document).ready(function () {
            let articlesHtml = document.querySelectorAll('.persDateUpdate');
            for(let index = 0; index < articlesHtml.length; index++){
                const $date = $(this).find(`#ArticleTime${index}`).val()
                const dateParts = $date.split('/');
                const month = dateParts[1];
                const day = dateParts[2];

                let persianMonth = '';

                if (month === '01')
                    persianMonth = 'فروردین'
                if (month === '02')
                    persianMonth = 'اردیبهشت'
                if (month === '03')
                    persianMonth = 'خرداد'
                if (month === '04')
                    persianMonth = 'تیر'
                if (month === '05')
                    persianMonth = 'مرداد'
                if (month === '06')
                    persianMonth = 'شهریور'
                if (month === '07')
                    persianMonth = 'مهر'
                if (month === '08')
                    persianMonth = 'آبان'
                if (month === '09')
                    persianMonth = 'آذر'
                if (month === '10')
                    persianMonth = 'دی'
                if (month === '11')
                    persianMonth = 'بهمن'
                if (month === '12')
                    persianMonth = 'اسفند'

                $(`.month${index}`).text(persianMonth)
                $(`.day${index}`).text(day)
            }
        })

    </script>

</body>

</html>